<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Plearn" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Plearn</a>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <li><%= link_to "หน้าแรก", "/path1"  %></li>
              <li><%= link_to "กลุ่มวิสาหกิจ", "/path2"  %></li>
              <li><%= link_to "ผลิตภัณฑ์", "/path3"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> <!--navbar-->
<div id="landing">
      <div class="container">
        <div class="row">
          <div class="span5">
            <h3 class="text-center red">ยินดีต้อนรับสู่ วิสาหกิจชุมชน</h3>
            <div class="text-center red"><%= image_tag "plearn_word.png" %></div>
           <h4 class="text-center">กลุ่มอาชีพผลไม้สดและผลผลิตเกษตรแปรรูป</h4>
            <p class="txt-left">ในละแวกบ้านดอนทอง อ.สามพราน จ.นครปฐม เป็นแหล่งกล้วยหอมทองคุณภาพ และมีจำนวนมาก พวกเราชาวสวน นอกจากจำหน่ายผลสุก แล้ว ยังรวมกลุ่มกัน เพื่อแปรรูปในปี 2552 โดยเริ่มต้นจาก กลุ่มขนาดเล็ก ปัจจุบัน มีโรงเรือน ตามมาตรฐาน สะอาด ปลอดภัย พวกเราใช้กล้วยไร้สารพิษ และปรับปรุง การผลิตอย่างพิถีพิถัน จนได้ "กล้วยหอมอบเนย" หวานมัน กรอบ แผ่นบาง อร่อยทุกชิ้น กินสุดเพลิน</p>
          </div>
          <div class="span7">
            <div class="flexslider">
              <ul class="slides">
                <% %w(slide10.png slide2.png slide3.png slide4.png slide5.png slide6.png slide7.png slide8.png slide9.png slide1.png).each do |img| %>
                  <li>
                    <%= image_tag "#{img}" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!--landing -->
    <div id="banner" class="leaf">
      <div class="container">
        <div class="row">
          <div class="span12 text-center red" style="padding-top:12px;">
            <h3>ความสุขเหลือเฟือ  เพื่อการแบ่งปัน</h3>
            <h3>อร่อยหวานมันทุกชิ้น แบ่งกินได้ทั้งก๊วน</h3>
          </div>
        </div>
      </div>
    </div>
<div class="txt-middle" id="content">
      <div class="container">
        <div class="row">
          <div class="span4 bouncy">
            <div class="icon_wrapper">
              <i class="glyphicons-display animated"></i>
            </div>
            <h3 class="red">ธุรกิจแปรรูปผลไม้</h3>
            <p class="txt-left">เรามีความมุ่งมั่นที่จะรักษาระดับมาตรฐาน ของการแปรรูปของผลไม้ โดยมีนโยบายคุณภาพด้านความปลอดภัย  ด้านความสะอาด ด้านรสชาติ และรักษาคุณค่าทางโภชนา เหมาะสมกับทุกเพศ ทุกวัย</p>
          </div>
          <div class="span4 bouncy">
            <div class="icon_wrapper">
              <i class="glyphicons-font animated"></i>
            </div>
            <h3 class="red">ธุรกิจเพื่อสิ่งแวดล้อม</h3>
            <p class="txt-left">เรามีเป้าหมายเพื่อให้ธุรกิจของเราเป็นมิตรกับสิ่งแวดล้อม มีการแปรรูปของเสียที่ได้จากการผลิต เพื่อให้เกิดประโยชน์สูงสุด มีการผลิตปุ๋ยจากเปลือกกล้วย การใช้พลังงานแสดงอาทิตย์ และการนำน้ำมันที่เหลือมาทำ ไบโอดีเซล</p>
          </div>
          <div class="span4 bouncy">
            <div class="icon_wrapper">
              <i class="glyphicons-airplane animated"></i>
            </div>
            <h3 class="red">ธุรกิจเพื่อสังคม</h3>
            <p class="txt-left">เราวางแผนการดำเนินธุรกิจตามแนวทาง <a href="http://www.fairtrade.net/" target="_blank"> "Social Fair Trade" </a> เพื่อต้องการที่สร้างความเท่าเทียมกันระหว่างพันธมิตรธุรกิจ ได้แก่ ชาวสวน โรงงาน ผู้แทนจำหน่าย และที่สำคัญคือผู้บริโภค จะต้องมีทางเลือกบริโภคสินค้าปลอดภัย ราคาเป็นธรรม</p>
          </div>
        </div>
        <hr class="dashed">
        <div class="row">
          <div class="span4">
            <div class="flexslider">
               <ul class="slides">
                    <% %w(p1.png p2.png p3.png p4.png).each do |img| %>
                        <li>
                            <%= image_tag "#{img}" %>
                        </li>
                    <% end %>
               </ul>
            </div>
            <h3 class="green">ขั้นตอนการผลิต</h3>
            <p class="txt-left">เริ่มจากการคัดสรรกล้วยหอมทองที่เป็นออร์กานิคที่มีขนาดใหญ่ นำมาผ่านกระบวนการล้าง สไลด์ เพื่อให้ได้ความบางพิเศษ จากนั้นนำไปทอด และ ฉาบอย่างพิถีพิถัน ทำให้กล้วยมีทั้งความบาง ความกรอบและรสชาติที่เป็นเอกลักษณ์ ของ "เพลิน"</p>
          </div>
          <div class="span4">
            <!--
            <a href="" class="thumbnail">
              <img src="http://quickimage.it/400x200" alt="image">
            </a>
            -->
            <div class="flexslider">
               <ul class="slides">
                    <% %w(com1.png com2.png com3.png com4.png).each do |img| %>
                        <li>
                            <%= image_tag "#{img}" %>
                        </li>
                    <% end %>
               </ul>
            </div>

            <h3 class="pink">แนวทางการดำเนินงาน</h3>
            <p class="txt-left">การทำงานเน้นการทำงานอย่างมีส่วนร่วม วางแผนอย่างรอบคอบเป็นระบบ รับฟังความคิดเป็นของทุกฝ่าย พร้อมนำมาปรับปรุง ประสานงานร่วมกัน ทั้งภาครัฐและเอกชน สนับสนุนให้ชุมชมได้มีโอกาสแสดงออก ถึงความคิด ความเข้มแข็ง และความสามัคคี ในชุมชน แบ่งปันผลประโยชน์ อย่างเป็นธรรม</p>
          </div>
          <div class="span4">
            <div class="flexslider">
               <ul class="slides">
                    <% %w(map1.png map2.png map3.png map4.png map5.png map6.png map7.png map8.png map9.png map10.png map11.png).each do |img| %>
                        <li>
                            <%= image_tag "#{img}" %>
                        </li>
                    <% end %>
               </ul>
            </div>

            <h3 class="blue">ตัวแทนจำหน่าย</h3>
            <p class="txt-left">นักธุรกิจมากมายได้รวมกันเป็นเครือข่ายการจัดจำหน่ายเพื่อที่ต้องการกระจายสินค้าให้ถึงผู้บริโภคโดยตรง และเป็นการพึ่งพากันในสังคม ที่ต้องการให้เกิด เครือข่ายบริโภคอย่างเป็นธรรมเพื่อความยั่งยืนของสังคม ทุกฝ่ายอยู่ได้และเกื้อกูลกัน</p>
          </div>
        </div>
      </div>
    </div> <!--content -->
<div id="footer">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h3>สารบัญ</h3>
            <ul class="animated">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
          </div>
          <div class="span3">
            <h3>วิสาหกิจชุมชน</h3>
            <ul class="animated">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div class="span3">
            <h3>สังคมออนไลน์</h3>
            <ul class="animated">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Google +</a></li>
            </ul>
          </div>
          <div class="span3">
            <h3>ลงทะเบียนกับเรา</h3>
            <p>ขอเชิญทุกท่านร่วมลงทะเบียนกับเรา เพื่อรับข้อมูลข่าวสาร กิจกรรมการออกร้านจำหน่าย ล่าสุด</p>
            <form>
              <input type="text" name="subscribe" placeholder="Your Email" class="span3">
              <button class="btn btn-primary">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div> <!--footer -->

<div id="copywrite">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>&copy; plearn banana corp. <span class="pull-right" id="totop">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>
          </div>
        </div>
      </div>
    </div> <!--copy write -->


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
